nav>ul {
    background-color: #f76c6c;
    font-size: x-small;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nav-link {
    font-weight: bold;
    color: white;
}