* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    font-size: 2rem;
    font-family: 'varela round' sans-serif;
}

.nav-bg {
    background-color: #f76c6c;
}

.promo {
    width: 100%;
}

.textpromo,
.contact {
    padding: 1em;
}