* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bg {
    background-color: #f76c6c;
}

carousel-control-next {
    position: absolute;
    left: 0;
}

carousel-control-prev {
    right: 0;
    position: absolute;
}

.wilders-container {
    padding-left: 1rem;
    padding-right: 1rem;
}

nav>ul {
    background-color: #f76c6c;
    font-size: x-small;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 1000;
}

.nav-link {
    font-weight: bold;
    color: white;
}

.card {
    border: none !important;

    font-family: 'Raleway', sans-serif;

    width: 80%;
    margin: auto;
}

.contactez-nous {
    padding-top: 50px;
}

.contact {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
}

#about {
    margin-top: 50px;
}

h2 {
    color: #f76c6c;
    text-shadow: 2px 1px 1px gray;
}

article p {
    padding: 20px;
    margin: auto;
    background-color: #e5e5e5;
}

.section-bg-img {
    background-image: url("./images/groupe_mobile.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
}

.text-center {
    font-family: 'Varela Round', sans-serif;
    padding-bottom: 20px;
}

footer {
    background-color: gray;
    color: white;
    font-size: small;
    margin-top: 20px;
    padding-bottom: 25px;
    text-align: center;
}

footer p {
    padding: 20px;
}

.card-img-top {
    width: 100px;
    clip-path: ellipse(50% 50%);
}


.teachers {
    color: #f76c6c;
    font-family: 'Varela Round', sans-serif;
    text-shadow: 2px 1px 1px gray;
}

hr {
    height: 2px !important;
    width: 70%;
    margin: 50px auto;
}

.school {
    color: #f76c6c;
    font-family: 'Varela Round', sans-serif;
    text-shadow: 2px 1px 1px gray;
}

hr {
    width: 50%;
    margin: auto;
    background-color: #f76c6c;
    position: relative;
    border-radius: 70%;
}

p {
    max-width: 80%;
    margin: auto;
}

.card {
    text-align: center;
}

.external-link {
    background-color: #f76c6c;
    border: none;
    border-radius: 5rem;
    box-shadow: 4px 4px 8px 1px gray;
    color: white;
    padding: 10px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}

.section-little {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card-little {
    height: 7%;
    width: 7%;
}

.bg-light {
    justify-content: center;
    color: #eee;
    background-color: #f76c6c;
}

#wild-color,
#wild-section {
    background-color: #f76c6c !important;

}

.navbar-light .navbar-toggler {
    border-color: #eee !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url(./images/hamburger.png) !important;
}

.left-arrow {
    background-image: url(./images/left-arrow.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 30px;
    height: 50px;
    left: 50px;
    top: 40%;
    z-index: 900;
}

.right-arrow {
    background-image: url(./images/right-arrow.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 30px;
    height: 50px;
    right: 50px;
    top: 40%;
    z-index: 900;
}

.carousel-control-next {
    z-index: 999 !important;
}

.carousel-control-prev {
    z-index: 999 !important;
}

.pulse {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 6px auto 0;
    box-shadow: 0 0 0 #f76c6c;
    animation: breathe 4s linear infinite;
}

@keyframes breathe {
    0% {
        box-shadow: 0 0 0 0px #f76c6c;
    }

    50% {
        box-shadow: 0 0 20px 12px #f76c6c;
    }
}

.carousel-inner {
    padding-top: 20px;
}

.card-body {
    margin-top: 20px;
}

@media screen and (min-width: 900px) {

    .card {
        width: 20%;
    }

    #contact>p {
        text-align: center;
    }

    .card-little>.card-body {
        padding: 0;

    }

    .card-little {
        margin: 0 10px;
    }

    p {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 900px) {
    .card-little {
        width: 20%;
        margin: 0 10px;
    }


    .card-body {
        padding: 0px !important;
        text-align: center;
    }

    .right-arrow,
    .left-arrow {
        top: 300px
    }

    .right-arrow {
        right: 10px;
    }

    .left-arrow {
        left: 10px;
    }
}

.external-link {
    font-size: 1.25rem;
}
